/* FONDO GENERAL */
body {
  background: url("../img/fondo.png") center/cover no-repeat fixed;
  margin: 0;
  font-family: 'Cinzel', serif;
}

/* HERO */
.cookies-hero {
  background-color: rgba(124, 28, 28, 0.95); /* fondo rojizo con opacidad */
  color: #fff;
  padding: 60px 20px;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.cookies-hero h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

/* CONTENIDO */




.cookies-text {
  background-color: #f7a100;
  color: #7c1c1c;
  text-align: justify;
  font-size: 1.20rem;
  line-height: 1.5;
  padding: 40px;
  border-radius: 15px;
}

/* Responsive */
@media (max-width: 991.98px) {
  .cookies-hero h1 {
    font-size: 2rem;
  }

  .cookies-text {
    font-size: 1rem;
    padding: 25px;
  }

  .cookies-content {
    padding: 30px 20px;
  }
}

@media (max-width: 575.98px) {
  .cookies-hero h1 {
    font-size: 1.7rem;
  }

  .cookies-text {
    font-size: 0.95rem;
    padding: 20px;
  }

  .cookies-content {
    padding: 25px 15px;
  }
}
