.restaurant-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.restaurant-img:hover {
  transform: scale(1.05);
}
main {
      min-height: 74.3vh;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
.encapsulado-restaurante {
  background-color: #f7a100; /* Amarillo */
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 1200px;
  margin: 0 auto 3rem auto; /* Centrado y espacio abajo */
}
